<!DOCTYPE html>
<html>
    <head>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Encrypt</title>

    </head>

    <body data-aos-easing="ease" data-aos-duration="500" data-aos-delay="0">

        <div class="representation_form">
            
            <h1 class="form_heading font-Forum">Submit your Details</h1>

            <form enctype="multipart/form-data" action="/encryption" accept-charset="UTF-8" method="post">
                
                <textarea name="header" id="header" placeholder="Header"></textarea>
                <textarea name="data" id="data" placeholder="Data" required="required"></textarea>
                
                <div class="re_submit">
                    <input id="submit_button" type="submit" name="commit" value="Submit Details" data-disable-with="Submit Details">
                </div>
            </form>      

            
        </div>

    </body>
</html>
